*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #333;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  color: #ff5722;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
}

.nav-links {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
}

.main-nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: color 0.3;
}

.main-nav a:hover{
  color: #e64a19;
}

.view-all-button {
  justify-content: center;
  display: inline-block;
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  padding: 15px 28px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.view-all-button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}

.cart-link {
  min-width: 80px;
  display: inline-flex !important;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.cart-counter {
  width: 22px ;
  height: 22px ;

  position: relative;
  margin-left: 8px;
  display:  flex ;
  align-items: center ;
  justify-content: center ;

  background-color: #555555;
  color: white;
  border-radius: 50% ;
  font-size: 11px;

  padding: 0 ;
  margin: 0 ;
  line-height: 1 ;
  flex-shrink: 0;

}

.product-card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: 0.3s;
}

#products-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card:hover {
  box-shadow: 0.4px 15px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.product-card p {
  color: #555;
  font-weight: bold;
}

.product-card button{
  margin-top: auto;
  padding: 8px 15px;
  cursor: pointer;
}

.product-info {
  padding: 15px;
}

.product-price {
  font-size: 1.2em;
  color: #b12704;
  margin: 10px 0;
  font-weight: bold;
}

.add-to-cart-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-section {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/rasprodazha-960x330.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
  border-radius: 15px;
  margin: 20px;
}

.hero-content {
  max-width: 700px;
}

.hero-content h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.hero-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.cta-button {
  display: inline-block;
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(100px);
  z-index: 1000;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.filter-buttons button {
  padding: 10px 25px;
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
}

  .filter-buttons button:hover {
    background-color: #333;
    color: #fff;
    transform: translateY(-2px);
  }

  .filter-buttons button.active {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  .filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .filters input {
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
  }

  .filters input:focus {
    border-color: #ff4747;
  }


/*Для планшетов*/
@media (max-width: 900px) {
  #products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Для телефонов*/
@media (max-width: 600px) {
  #products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}